{% extends 'shop/basic.html' %}

{% block title %}Contact Page{% endblock %}

{% block body %}

<div class="container my-4">
  <h3>Contact Our Team</h3>
	<form action="/shop/contact/" method="post">
		{% csrf_token %}
  <div class="form-group">
    <label for="name">Name</label>
    <input type="name" class="form-control" id="name" name="name"   placeholder="Enter Your Name">
  </div>

  <div class="form-group">
    <label for="name">Email</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email">
  </div>

  <div class="form-group">
    <label for="name">Contact Number</label>
    <input type="number" class="form-control" id="phone" name="phone" placeholder="Enter Your Contact ">
  </div>
  
 <div class="form-group">
    <label for="exampleFormControlTextarea1">How may we help you?</label>
    <textarea class="form-control"  name="desc" id="desc" rows="3"></textarea>
  </div>


  <button type="submit" class="btn btn-success">Submit</button>
  
</form>
  
</div>


{% endblock %}

{% block js %}
<script type="text/javascript">
   {% if thank %}
      alert('Thanks for helping us ');
     // localStorage.clear();
      document.location = "/shop/contact";
      {% endif %}
</script>
    
{% endblock %}